@page
@model Aflevering2.Pages.Reports.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Report</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report.ReportDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Report.ReportDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report.SmileyName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Report.SmileyName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report.SmileyPath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Report.SmileyPath)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Report.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
